$surface-1: #131a1c;
$surface-2: #131a1c;
$surface-3: #21282a;
$surface-4: #0c1315;
$surface-5: darken($surface-4, 8%);

$accent-1: #f65b5b;
$accent-2: #e59e67;
$accent-3: #e7ac7e;
$accent-4: #6bb05d;
$accent-5: #51a39f;
$accent-6: #53a7bf;
$accent-7: #b185db;
$accent-8: #bb8fe5;
$accent-9: #8dc776;

$primary-accent: $accent-4;
$secondary-accent: $accent-9;

$foreground-color: #c5c8c9;

$highlight: rgba(255,255,255,0.15);

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-2};
